### Python bytecode / cache
__pycache__/
*.py[cod]
*$py.class

.databricks

### Test/type-check tool caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
.ipynb_checkpoints/

### OS/editor noise
.DS_Store
.vscode/

### Temporary working dirs
.tmp-*/

### Build artifacts
streamlit-app-template-*.zip

### Streamlit
# Keep configs if you decide to track them; don't ignore whole folder by default.
# .streamlit/
# .streamlit/secrets.toml


